
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #555 !important;
  text-decoration: none;
  -webkit-transition: all .4s !important;
}

a.active {
  color: #e65540 !important;
}

a:hover {
  color: #e65540 !important;
}

li, ul {
  padding-left: 0;
  list-style-type: none;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  color: #888888;
  margin: 0;
}

.social-icon-link {
  color: #888888;
}

.line-divider1 {
  display: block;
  height: 20px;
  width: 1px;
  background-color: #e5e5e5;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 5px;
}

.button-container-size {
  width: 179px;

  button {
    padding: 0;
    outline: none !important;
    border: none;
    height: 46px;
  }

  button:hover {
    background-color: #e65540;
    color: white;
  }
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.w-size3 {
  max-width: 294px;
}

.w-size4 {
  max-width: 257px;
}

.w-200 {
  width: 200px;
}

.border-radius-23 {
  border-radius: 23px;
}

.pb-34 {
  padding-bottom: 34px;
}

.pt-56 {
  padding-top: 56px;
}