.header {

  nav {
    min-height: 80px;
  }

  @media all and (min-width: 0px) and (max-width: 991px) {
    .header-desktop {
      display: none;
    }
  }

  @media all and (min-width: 992px) {
    .header-mobile {
      display: none;
    }
  }

}