.header {

  @media all and (min-width: 0px) and (max-width: 991px) {
    .header-desktop {
      display: none;
    }

    .header-collapse {
      margin-top: 20px;
    }
  }

  @media all and (min-width: 992px) {
    .header-mobile {
      display: none;
    }
  }

  .item-menu-mobile {
    background-color: #e65540;

    a {
      color: white !important;
    }
  }
}