@import "custom";

body {
  font-family: 'Montserrat', sans-serif;

  a {
    text-decoration: none;
  }

  .social-icon-link {
    color: #888888;
  }

  .s-text12 {
    font-weight: bold;
    font-size: 15px;
    color: #222222;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .s-text7 {
    font-weight: normal;
    font-size: 13px;
    color: #555555;
    line-height: 1.8;
  }

  .s-text8 {
    font-size: 13px;
    color: #888888;
    line-height: 1.8;
  }

  .line-divider1{
    display: block;
    height: 20px;
    width: 1px;
    background-color: #e5e5e5;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 5px;
  }
}