.footer {

  ul, li {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  .email-form {
    position: relative;
    border-bottom: 1px solid #cccccc;
    max-width: 300px;
  }

  input {
    outline: none;
    border: none !important;
  }
}